.coffee-house-thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    row-gap: 15px;
    column-gap: 10px;
    
}

.img-div {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.coffee-shop-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: 500;
    text-align: start;
    line-height: 20px;
    color: white;
    padding: 2%;
}


.thumbnail-info-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 5%;
}



.profile-picture {
    width: 36px;
    border-radius: 50px;
    
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.date-established {
    font-size: 14px;
    color: black;
    
}

.views-date {
    font-size: 14px;
    color: black;
}

.video-author {
    margin-bottom: 4px;
}

.footer {
    height: auto;
    width: 80%;
    position: relative;
    top: 30px;
    left: 10%;
    justify-content: start;
    
    padding-top: 10px;
    border-top: solid;
    border-color: black;
    color: black;
    font-size: 18px;
}



@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.location {
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    width: auto;
    padding: 5px;
    
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 50;

}


