p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    
}

*{
    box-sizing: border-box;
}


body {
    font-family: Roboto, Arial;
    width: 100%;
    margin: 0px;
    background-color: rgb(83, 80, 80);
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 14%;
    padding-left: 14%;
    padding-right: 10%;
    padding-bottom: 14%;
}

@media (max-width: 1200px) {
    main {
        padding-top: 15%;
    }
} 


@media (max-width: 600px) {
    main {
        padding-right: 10%;
        padding-left: 14%;
    }
} 

    

