
.thumbnail {
    width: 100%;
   
}



.coffee-shop-title {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    color: white;
}


.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}



.profile-picture {
    width: 36px;
    border-radius: 50px;
    
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.date-established {
    font-size: 14px;
    color: black;
    
}

.views-date {
    font-size: 14px;
    color: black;
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.location {
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: bold;
    height: 10%;
    width: 20%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 50;

}


